@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand&display=swap');

.App {
  background-image: url(https://i.pinimg.com/originals/fe/54/88/fe54885ff25e11ee0517709f2abfba0f.jpg);
  background-size: cover;
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #25ac5d;
  font-family: 'Aboreto', cursive;
}

button {
  font-size: calc(10px + 2vmin);
}

.MainInfo {
  background-color: #fff;
  width: 80%;
  max-width: 768px;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
  border-radius: 5px;
}

.venmo {
  margin: 10px 0px 5px 0px;
  width: 180px;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
  border-radius: 5px;
}

.zelle {
  width: 180px;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
  border-radius: 5px;
}

.active {
  background-color: #baf0d1bd;
  border: 1px solid #25ac5d;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  height: auto;
  margin: 0px 5px;
  padding: 8px 20px;
}

.inactive {
  background-color: transparent;
  border: 1px solid #25ac5d;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  height: auto;
  margin: 0px 5px;
  padding: 8px 20px;
}